/*
 * @description: Normalize 使浏览器呈现所有 HTML 元素更加一致，并且符合现代 web 标准。Normalize.css 只作用于需要规范化的样式。
 * @Date: 2021-11-14 17:22:04
 * @LastEditTime: 2021-11-14 17:23:01
 * @Author: xingheng
 */

@import './var';

html {
  -webkit-tap-highlight-color: transparent;
}

body {
  word-break: break-all;
  font-size: $font-size-md;
  font-family: $base-font-family;
  font-weight: $font-weight-regular;
  color: $text-color;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
p,
blockquote,
table,
th,
td,
embed,
object {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: $font-size-md;
  font-weight: $font-weight-regular;
}

a {
  text-decoration: none;
}

input,
button,
textarea {
  color: inherit;
  font: inherit;
}

a,
input,
button,
textarea,
[class*='h-'] {
  &:focus {
    outline: none;
  }
}

ol,
ul {
  list-style: none;
}

i {
  font-style: normal;
}
